body{
    background-color: rgb(255, 230, 0);
}

.title{
    text-align: center;
    color: rgb(136, 97, 24)
}

.basicHeading{
    margin-left: 5%;
    color: rgb(165, 120, 37)
}

.basicText{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.downloadLinks{
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: rgb(255, 174, 0);
    color: white;
    border-radius: 8px;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.downloadLinks:hover, .downloadLinks:active {
    background-color: rgb(255, 136, 0);
  }